@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-content: theme('colors.base-content');
  --base-100: theme('colors.base-100');
  --base-200: theme('colors.base-200');
  --base-300: theme('colors.base-300');
  --primary: theme('colors.primary');
  --primary-content: theme('colors.primary-content');
  --secondary: theme('colors.secondary');
  --secondary-content: theme('colors.secondary-content');
  --accent: theme('colors.accent');
  --accent-content: theme('colors.accent-content');
  --alpha: 0.2;
}

/* FIXME: this class should add the polka-dotted background to story previews. 
 * however we cannot add transparency to the base-content color variable.
 */
.preview {
  background: radial-gradient(var(--base-100), 0.5px, var(--base-200) 0.5px);
  background-size: 5px 5px;
}


  .shadow-elevation-low {
    box-shadow: 0.3px 0.5px 0.7px hsl(286deg 36% 56% / 0.34);
    box-shadow: 0.4px 0.8px 1px -1.2px hsl(286deg 36% 56% / 0.34);
    box-shadow: 1px 2px 2.5px -2.5px hsl(286deg 36% 56% / 0.34);
  }
  .shadow-elevation-medium {
    box-shadow: 0.3px 0.5px 0.7px hsl(286deg 36% 56% / 0.36);
    box-shadow: 0.8px 1.6px 2px -0.8px hsl(286deg 36% 56% / 0.36);
    box-shadow: 2.1px 4.1px 5.2px -1.7px hsl(286deg 36% 56% / 0.36);
    box-shadow: 5px 10px 12.6px -2.5px hsl(286deg 36% 56% / 0.36);
  }
  .shadow-elevation-high { 
    box-shadow: 0.3px 0.5px 0.7px hsl(286deg 36% 56% / 0.34);
    box-shadow: 1.5px 2.9px 3.7px -0.4px hsl(286deg 36% 56% / 0.34);
    box-shadow: 2.7px 5.4px 6.8px -0.7px hsl(286deg 36% 56% / 0.34);
    box-shadow: 4.5px 8.9px 11.2px -1.1px hsl(286deg 36% 56% / 0.34);
    box-shadow: 7.1px 14.3px 18px -1.4px hsl(286deg 36% 56% / 0.34);
    box-shadow: 11.2px 22.3px 28.1px -1.8px hsl(286deg 36% 56% / 0.34);
    box-shadow: 17px 33.9px 42.7px -2.1px hsl(286deg 36% 56% / 0.34);
    box-shadow: 25px 50px 62.9px -2.5px hsl(286deg 36% 56% / 0.34);
  }

.hero {
  @apply text-base-content;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -0.02em;
}

.h1 {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.h2 {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
}

.h3 {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
}

.h4 {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.01em;
}

.h5 {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

.h6 {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.base1 {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.base2 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
